body {
	font-family: 'Anonymous Pro', monospace;
	margin: 0 auto;
	color: #fff;
	font-size: 24px;
	width: 100%;
	height: 100%;
}

header {
	display: block;
	background-image: url(5.png);
	background-color: #161616;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.about {
	display: inline-block;
	margin-top: 213px;
	margin-left: 430px;
}

.Hi {
	font-size: 100px;
}

.tools {
	display: block;
	margin-left: 1230px;
	margin-top: -250px;
}

p{
	margin-bottom: 42px;
}

li{
	margin-bottom: 10px;
	list-style-type: none; 
}

li::before {
	content: "-" ;
	padding-right: 0.7em;
}

ul {
	padding-inline-start: 5px;
}

main {
	display: block;
	background-color: #000;
	height: 380px;
}

main p {
	display: inline-block;
	margin-left: 435px;
	margin-top: 41px;
}

.portfolio {
	display: block;
}

.firstwork {
	display: inline-block;
	background-color: #fff;
	width: 390px;
	height: 242px;
	margin-left: 435px;
	margin-top: -5px;
}

.secondwork {
	display: inline-block;
	background-color: #fff;
	width: 390px;
	height: 242px;
	margin-left: 50px;
	margin-top: -5px;
}

.more {
	display: inline-block;
	margin-left: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
	display: block;
	background-image: url(4.png);
	background-color: #161616;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 230px;
}

footer p {
	display: inline-block;
	margin-left: 435px;
	margin-top: 41px;
}

img {
	display: inline-block;
	width: 60px;
	margin-left: 435px;
}

.mail {
	margin-left: 600px;
	display: block;
	margin-top: -40px;
}

.Bronzespb {
	width: 390px;
	height: 242px;
	margin: 0 auto;
}
